body
{
    height: 100%;
}

body
{
    display: flex;
    align-items: center;
    background-image: radial-gradient(circle 248px at center, #a5c2c3 0%, #e48989 47%, #b8cad8 100%);
}

.singin
{
    width: 100%;
    max-width: 330px;
    padding: 30px;
    margin: auto;
}

.btnIngreso
{
    margin-top:20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 228px;
}

.imgLogin
{
    height: 260px;
    width: 220px;
    justify-content: center;
}

label{
   display: block;
   padding: 5px;
}

input{
    height: 30px;
    width: 215px;
    padding: 5px;
    font-family: sans-serif;
}

select{
    height: 30px;
    width: 228px;
    padding: 5px;

}